body {
  font-family: Arial;
  background: #eef2f7;
}

header {
  background: #003366;
  color: white;
  padding: 15px;
}

.card {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 6px;
}
